* {
    margin: 0;
    padding: 0;
}
 
@font-face {
    font-family: 'star' ;
    src: url('Starjout.ttf') format('truetype');
}
body {
    background-image: url('bcg.png');


}


.title {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100px;
} 

 .title h1{
     font-family: star;
     color:rgb(245, 245, 0) ;
     font-weight: normal;
     font-size: clamp(0.5em, 0.7em + 2.5vw, 2.5em);
     
 }

.cards {
    padding: 2rem;
}


#ships h1{
    color:rgb(245, 245, 0);
    font-size: 1.3rem;
}

#ships {
    
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none; 
    
}

#ships li {
    

    width: 210px;
    height: 190px;
    
    padding: 20px;
    border: 2px solid rgb(245, 245, 0);
    border-radius: 8px;
    margin-bottom: 35px;

    background-color: rgba(0, 0, 0, 0.7);
    
}

#ships p {
    color: rgb(189, 189, 66);
    font-size: 15px;
    margin-top: 5px;
}


